.head {
    background: linear-gradient(#590212, #820b08);
    overflow: hidden !important;
    z-index: 4;
    max-height: 500px;
}
.head-video{
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.topper {
    z-index:5;
}
.btn-danger {
    background-color:#cc0d0b; 
}