<div class="text-center head d-flex p-0 text-white">
     <div class="topper position-absolute col col-12 align-self-center">
         <p class="h1">Welcome to Bloging JS</p>
         <p class="mt-3 h5">An Angular 5 project of everyday blogging</p>
         <button class="btn btn-active mr-2 mt-2">Get started</button>
         <button class="btn btn-active mt-2 btn-danger" (click)="joiner()">Join our blog</button>
     </div>
<video src="/assets/video.mp4" autoplay loop class="head-video embed-responsive align-self-center"></video>
</div>


