<div class="container-fluid text-center mySec d-flex bg-dark">
    <div class="row pt-2 mx-auto">
        <div id="p1" class="col col-12 col-lg-4 justify-content-center align-self-center panel">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <h3>Create</h3>
            <h5>You can write limitless blogs</h5>
        </div>
        <div id="p2" class="col col-12 col-lg-4 justify-content-center align-self-center panel">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <h3>Explore</h3>
            <h5>Explore many topics you might like</h5>
        </div>
        <div id="p3" class="col col-12 col-lg-4 justify-content-center align-self-center pb-2 panel">
            <i class="fa fa-retweet" aria-hidden="true"></i>
            <h3>Share</h3>
            <h5>Share with your friends on your social media</h5>
        </div>
    </div>
</div>