<app-nav></app-nav>
    <div class="container m-2 mx-auto blog-show">
        <div class="row">
            <div class="col col-12">
                <div class="blogs p-2 pl-4 m-2 composer">
                    <div class="d-inline">Your profile</div><div class="icon creator text-center pt-1 float-right mr-2"><i class="fa fa-plus" aria-hidden="true"></i></div>
                        <div class="pr-4 cont-hid">

                        </div>
                </div>

                <div class="blogs p-2 pt-4 m-2">
                    <div class="d-inline ml-3">Project borealis what is next ?</div><div class="cat text-center p-2 float-lg-right mt-2 ml-3 ml-lg-0 ml-md-0 mt-lg-0 mt-md-0 float-md-right float-none mr-3">Gaming</div>
                        <hr class="col col-11 mx-auto">
                        <img class="img-fluid pr-2 pl-2" src="/assets/images/b2.jpg" width="100%"/>
                        <div class="pr-2 pl-2 pt-2 text-blog text-center">Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                                Project borealis what is next ? Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil Gabin nawil
                        </div>
                        <hr class="col col-11 mx-auto">
                        <div class="d-inline-block ml-2 mb-2 pt-2">Posted: 80/50/2018</div>
                        <div class="icon addIco text-center p-1 m-1" [class.clickable]="loggedinzl"[class.like]="loggedinzl"[class.nonclickable]="!loggedinzl"><i class="fa fa-thumbs-up"></i><br>200</div>
                        <div class="icon addIco text-center p-1 m-1"><i class="fa fa-eye"></i><br>150</div>
                </div>

                <nav aria-label="..." class="mx-auto text-center d-flex mt-4">
                    <ul class="pagination mx-auto text-center ">
                        <li class="page-item disabled">
                        <span class="page-link bg-danger">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link bg-danger" href="#">1</a></li>
                        <li class="page-item active">
                        <span class="page-link active">2<span class="sr-only">(current)</span></span>
                        </li>
                        <li class="page-item"><a class="page-link bg-danger" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link bg-danger" href="#">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
          
<app-footer></app-footer>